@import '../../common/scss/tools/_breakpoint.scss';
@import "../../common/scss/layouts/globals/variables.scss";

@import './layouts/geral/newsletter/main.scss';

.j-empty__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    strong { 
        margin-top: 40px;
        font-size: 45px;
        color: $color-red;
        text-transform: uppercase;
    }

    p {
        margin: 20px 0 40px 0;
        font-size: 30px;
        color: $color-blue;
        text-align: center;
        line-height: 30px;
    }

    a {
        display: block;
        font-size: 16px;
        color: $color-main;
        margin-bottom: 40px;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.is--error-500 {
    .j-empty__content {
        p {
            line-height: 40px;
            
            &:nth-child(2){
                margin-bottom: 20px;
            }

            &:nth-child(3){
                margin-top: 0;
            }
        }
    }
}

