.j-slider__brands {
  margin: 40px 0 80px 0;

  

  > h2 {
    color: #083675;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f9f9f9;

    &:before {
      content: "";
      display: inline-block;
      width: 23px;
      height: 23px;
      background-size: cover;
      background-image: url("/arquivos/icon-brands.png");
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  > ul {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    li {
      img {
        display: block;
        margin: 0 auto;
      }
    }

    .slick-arrow {
      cursor: pointer;
      border: none;
      font-size: 0;
      width: 25px;
      height: 25px;
      display: block;
      background: none;
      border-right: 3px solid $color-blue;
      border-bottom: 3px solid $color-blue;
      position: absolute;

     
    }

    .slick-prev {
      left: -30px;
      top: 50%;
      transform: translateY(-50%) rotate(-225deg);
    }

    .slick-next {
      right: -30px;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
