.j-category__right {
    
    .j-category__title {
        color: #dc802f;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .j-category__description {
        p {
            margin-bottom: 20px;
            color: #585757;
            font-size: 11px;
            font-weight: 400;
        }
    }
    .j-category__banner {
        > strong {
            color: $color-blue;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 5px;
            display: block;
        }

        .box-banner {
            a {
                display: block;
                
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .main {
        order: 1;
    }

    .j-category__description {
        order: 4;
    }

    .j-category__banner,
    .j-brand__banner {
        order: 5;
    }
}

.j-news-category {
    margin: 30px 0;
}