.j-filter-mobile {
    display: none;

    .j-filter__mobile-left {
        width: 80px;
        background-image: linear-gradient(to top, #dc802f 50%, #fff 50%);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .j-filter__mobile-right {
        width: calc(100% - 80px);

        .j-filter__title {
            color: #dc802f;
            font-size: 23px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .j-filter__mobile-color {
            padding-left: 10px;
            background-color: #dc802f;
            min-height: 52px;
            display: flex;
            align-items: center;

            .j-filter__mobile-btn {
                width: 35px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #e0e0e0;
                background-color: #ffffff;
                background-image: url('/arquivos/ico-filter.png');
                background-position: center center;
                background-repeat: no-repeat;
                cursor: pointer;
                margin-left: 10px;
            }
        }
        
        .j-filter__mobile-order {
            display: flex;
            align-items: center;

            label {
                font-size: 10px;
                color: #fff;
                font-weight: 700;
                display: block;
                margin-right: 5px;
            }
            select {
                border: 1px solid #e0e0e0;
                background-color: #ffffff;
                width: 80px;
                color: #858585;
                font-size: 10px;
                font-weight: 700;
                padding: 5px 0;
            }
        }
    }
}