.bread-crumb {
  margin: 30px 0;

  a,
  strong {
    color: #585757;
    font-size: 11px;
    font-weight: 400;
  }
}

.j-category__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .j-category__left {
    width: 100%;
  }
  .j-category__right {
    width: 100%;
    display: flex;
    flex-direction: column;

    .j-shelf > ul {
      li {
        width: 100%;
        margin: 0;

        .j-shelf__item {
          border-top: none;
          border-left: none;
          border-right: none;
          display: flex;

          .j-shelf__item-img {
            width: 127px;
            min-width: 127px;
          }

          .j-shelf__item-buy {
            display: none;
          }
        }
      }
    }
  }
}

.pager,
.searchResultsTime,
.sub {
  display: none;
}
