.j-product__shelf {
    margin-top: 65px;
}

.j-details {
    border-top: 1px solid #000;
    border-top: 1px solid #000;
    margin-top: 30px;

    > h3 {
        color: $color-main;
        font-weight: 400;
        font-size: 20px;
        padding: 15px 0;
        text-transform: uppercase;
        font-weight: bold;
    }

    p,
    .productDescription,
    .j-box-descrition {
        line-height: 16px;
        font-size: 13px;
        color: $color-darkgray;
        margin-bottom: 15px;
    }

    &.is--spec {
        .Filtros, h4.Ficha-Tecnica {
            display: none;
        }

        table.Ficha-Tecnica {
            width: 100%;

            tr {
               padding: 20px 0;
               border-top: 2px solid #e6e7e8;
               border-bottom: 2px solid #e6e7e8; 
            }

            th {
                font-weight: bold;
                text-align: left;
                border-bottom: 1px solid #e6e7e8;
                height: 52px;
                padding-left: 20px;
                width: 10%;            

               
            }

            td {
                color: #585757;
                font-size: 13px;
                font-weight: 400;
                text-align: left;
                border-bottom: 1px solid #e6e7e8;
                padding-left: 20px;

               

            }

            tr {

                &:last-child {
                    th,td {
                        border-bottom: none;
                    }
                }
            }
        }

    }
}

#caracteristicas {
    .group.Filtros {
        display: none;
    }
}