.bread-crumb {
    margin-top: 20px;
}

.j-content__product {
    .j-product__name {
        text-align: left;
        color: #777777;
        font-size: 17px;
        font-weight: 700;
        margin: 20px 0;

        &::first-letter {
            text-transform: uppercase;
        }

       
    }
    
    &--wrapper__infos {
        display: flex;
        flex-direction: column;
    }

    &--img {
        width: 100%;
        
       
        #image {
            a {
                cursor: zoom-in;
            }
        }

        #show {
            display: block;

            #include {

                img {
                    display: block;
                    width: 100%;
                }
            }

            .thumbs {
                width: 80%;
                margin: 10px auto;

                li {
                    a {
                        text-align: center;
                        img {
                            max-width: 40px;
                            margin: 0 auto;
                        }
                    }
                }     
            }
        }
        .slick-arrow {
            cursor: pointer;
            border: none;
            font-size: 0;
            width: 20px;
            height: 20px;
            display: block;
            background: none;
            border-right: 3px solid #083675;
            border-bottom: 3px solid #083675;
            position: absolute;
            top: 50%;
            margin-top: -10px;
        }
        
        .slick-prev {
            left: -25px;
            transform: rotate(135deg);
        }
        
        .slick-next {
            right: -25px;
            transform: rotate(-45deg);
        }

        .zoomWindow {
            overflow: hidden;
            border: 1px solid transparent;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            left: 0px !important;
        }

        .zoomPad {
            position: relative;
        }

        .zoomWrapperImage {
            img {
                max-width: unset!important;
                width: auto!important;
            }
        }

        .slick-dots {
            display: flex!important;
            justify-content: center;
        
            li {
                margin: 0 2.5px;

                button {
                    font-size: 0;
                    border: 0;
                    width: 10px;
                    height: 10px;
                    background-color: #a6a6a6;
                    border-radius: 50%;
                    opacity: 0.7;
                    transition: all 225ms ease;
                }

                &.slick-active {
                    button {
                        opacity: 1;
                    }
                }
            }
        }
    }

        
    
    .j-rate {
        order: 1;
        a {
            display: flex;
            align-items: center;

            strong {
                order: 2;
                font-size: 0;
                
                &::after {
                    content: "Clique e veja";
                    font-size: 10px;
                    color: #daa81d;
                    margin-left: 10px;
                }
            }
            
            span {
                order: 1;
                &::before {
                    color: #dfdfdf;
                }
                &::after {
                    display: none!important;
                }
            }
        }
    }


    &--infos {
        width: 100%;
        margin-top: 35px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .j-box-seller-info {
            display: flex;
            flex-direction: row;
            align-content: center;
            padding: 15px 9px;
            box-shadow: 0 1px 11px #dedede;
            margin: 35px 0;
            justify-content: space-between;
            
            
            .j-box-price {
                    display: flex;
                    flex-direction: column;
                    // width: 50%;
    
                    .plugin-preco {
                        order: 2;

                    }
                    
                    .economia-de {
                        display: none;
                    }
                    
                    .j-discount-price {
                        order: 3;
                    }
    
                .descricao-preco {
                    .valor-por {
                        display: block;
                        font-style: normal;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 0;
                        
                        
                        &,strong {
                            color: $color-blue;
                        }
                        
                        strong {
                            display: block;
                            font-size: 19px;
                            line-height: 28px;
    
                        }
                    }
                }
    
                .valor-dividido {
                    font-style: normal; 
                    color: #838383;
                    font-size: 12px;
                    
    
                    strong {
                        color: $color-main;
                    }
                }
    
                .preco-a-vista {
                    display: none!important;
                }
    
                .j-discount-price {
                    margin: 5px 0;
                    display: block;
                    color: #838383;
                    font-size: 12px;
    
                    span {
                        color: $color-main;
                        font-size: 15px;
                        font-weight: 700;
                    }
                }
            }

            .j-box-seller {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
            }

            .j-box-buy {
                width: auto;
                display: block;
      
                a {
                  cursor: pointer;
                  text-align: center;
                  padding: 12.5px 5px;
                  border-radius: 4px;
                  display: block;
                  color: #fff;
                  text-transform: uppercase;
                  font-size: 13px;
                  background-color: #5bc102;
                  width: 121px;
      
                  &::before {
                      content: "\f07a";
                      font-family: FontAwesome;
                      font-size: 14px;
                      margin-right: 10px;
                  }
                }

                .portal-notify-me-ref {
                    width: 100%;

                    fieldset {
                        border: 0;
                        display: block;

                        input {
                            width: 40%;
                            height: 40px;

                            &:nth-child(3) {
                                margin: 0 2%;
                            }
                            
                            &[name="notifymeButtonOK"] {
                                width: 15%;
                                height: 40px;
                                color: #FFF;
                                cursor: pointer;
                                text-align: center;
                                text-transform: uppercase;
                                background: $color-main;
                                border: 1px solid $color-main;
                            }
                        }
                    }
                }
            }
        }


        .j-box-variations {
            width: 100%;

            .sku-selector-container ul {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                li {
                    width: 100%;

                    &:first-child {
                        color: #807f7f;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 13.91px;
                        margin-right: 10px;
                    }

                    select {
                        width: 90%;
                        height: 35px;
                        margin: 7px 0 0;
                    }
                }
            }
        }

        .j-box-descrition {
            margin: 5px 0;

            > div {
                color: #585757;
                font-size: 13px;
                font-weight: 400;
                line-height: 16.52px;
            }
        }

        .j-box-freight {

            p,a {
                color: #807f7f;
                font-size: 12px;
                font-weight: 400;
                line-height: 13.91px;
                margin: 5px 0;
            }

            h1 {
                display: none;
            }

            > p {
                a {
                    text-decoration: underline;
                }
            }

            #popupCalculoFreteWrapper {
                display: none;
            }

            #calculoFrete {
                h1 {
                    line-height: 12px;
                    a {
                        &:before {
                            content: 'EM ESTOQUE: Vendido e entregue por: ';
                            color: #807f7f;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 13.91px;
                        }
                    }
                }

                h2,.close {
                    display: none;
                }
            }
        }

        .content {
            margin-top: 15px;

            fieldset {
                border: 0;

                .quantity {
                    display: none;
                }

                .prefixo {
                    font-size: 0px;

                    &:before {
                        content: 'CEP';
                        display: block;
                        color: $color-darkgray;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16.52px;
                        margin-right: 15px;


                    }
                }

                .lnkExterno {
                   display: none;
                }

                .frete-calcular {
                    height: auto;
                }

                input {
                    max-width: 127px;
                    border: 1px solid #b8b8b8;
                    background-color: #ffffff;
                    color: #e1dfdf;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.52px;
                    padding: 0 6px;
                    height: 35px;
                    
                    &::placeholder {
                        color: #e1dfdf;
                    }
                    
                    &[type="button"] {
                        height: 35px;
                        display: inline-block;
                        color: #fff;
                        background-color: $color-blue;
                        padding: 0 6px;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 35px;
                        margin-right: 15px;
                        text-transform: uppercase;
                        margin: 0 15px;
                        border: none;
                        
                    }
                }
            }
        }

        
    }
}