.j-banner-main {
    img {
        width: 100%;
        height: auto;
    }
    margin-bottom: 10px;
}

.bread-crumb {
    margin-bottom: 25px;
}

.j-title {
    color: #083675;
    font-size: 24px;
    font-weight: 700;

}

.j-top {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
   

    > .j-left {
        width: 64%;
        
       

        h1 {
            text-align: center;
            color: #585757;
            font-size: 33px;
            font-weight: 700;
            padding-bottom: 40px;
            margin-bottom: 30px;
            width: 100%;
            border-bottom: 2px dotted $color-red;
            position: relative;

           

            &:after {
                content: '';
                display: block;
                width: 36px;
                height: 17px;
                background-image: url('/arquivos/bone.png');
                background-size: cover;
                position: absolute;
                bottom: -10.5px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
        .j-movie__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
                 width: 100%;
                 margin: 10px 0;
                 color: #585757;
                font-size: 13px;
                font-weight: 400;
                line-height: 16.26px;
            }

            .j-left {
                width: 57%;
                display: flex;
                align-items: center;

              
                iframe {
                    width: 100%;
                    height: 220px;

                   
                }
            }
            .j-right {
                width: 40%;

               
            }
        }
    }
    > .j-right {
        width: 34%;
        display: flex;
        align-items: center;
      

        img {
                width: 50%;
                display: block;
                margin: 0 auto 30px;
        }
    }
}