.j-banner__main {
  .j-banner__slider {
    width: 100%;

    .box-banner {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .slick-dots {
      display: flex !important;
      justify-content: center;
      transform: translateY(-20px);
      width: 100%;
    
      li {
        margin: 0 5px;

        button {
          display: block;
          font-size: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #ececec;
          position: relative;
          cursor: pointer;
          transition: all 225ms ease;
          background-color: transparent;
        }

        &.slick-active {
          button {
            background-color: #ececec;
          }
        }
      }
    }
  }
}
