.j-mosaico {
  .j-main__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__banners {
    &--principal {
      width: 100%;
    }

    &--outros {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      > div {
        width: 49.5%;
      }
    }
  }
}