.j-home__blog {

    &--video {
        margin-bottom: 15px;
    }

    &--banner {
        position: relative;
        margin-bottom: 15px;

        .slick-arrow {
            font-size: 0;
            background: none;
            border: none;
            display: block!important;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            z-index: 10;

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border: 1.5px solid black;
                border-bottom: 0;
                border-right: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &.slick-prev {
                background-color: #ececec;
                right: 40px;
            }

            &.slick-next {
                background-color: #000;
                right: 0;    
            
                &:before {
                    border-color: #ececec;
                    transform: translate(-50%, -50%) rotate(135deg);
                }
            }
        }
    }
}