.j-shelf {
  margin: 15px 0;
  
  > h2 {
    color: $color-main;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    position: relative;

    li {
      width: 23%;
      margin: 0 5px;
      padding: 10px 5px;

      background-color: #fff;
    }
  }

  &__item {
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;

      a {
        display: block;

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }

    &-name {
      a {
        display: block;
        margin: 5px 0 0;
        font-size: 12px;
        color: $color-main;
        min-height: 35px;
        font-weight: 400;
        text-align: center;
      }      
    }
    
    &-old-price {
      color: #585757;
      font-size: 9px;
      text-decoration: line-through;
      color: $color-main;
      min-height: 11px;
      text-align: center;
    }

    &-new-price {
      color: #000;
      font-weight: 700;
      font-size: 16px;
      line-height: 15.45px;
      margin-top: 5px;
      text-align: center;

      small {
        font-size: 13px;
        font-weight: 400;
      }
    }

    &-installments {
      font-size: 11px;
      display: block;
      font-style: normal;
      min-height: 12px;
    }

    &-outStcok-text {
      margin-top: 5px;
      text-align: center;
      font-size: 12px;
      color: $color-main;
    }
  }

  .slick-arrow {
    font-size: 0px;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $color-main;
    border-right: 0;
    border-bottom: 0;
    position: absolute;
    top: 50%;
    background: none;
    z-index: 20;
  }

  .slick-prev {
    transform: translateY(-50%) rotate(-45deg); 
    left: 0;
  }

  .slick-next {
    transform: translateY(-50%) rotate(135deg); 
    right: 0;
  }
}
