@import '../../common/scss/tools/_breakpoint.scss';
@import "../../common/scss/layouts/globals/variables.scss";

.c-on-base {
    font-size: 20px;
}
.t-heading-1, .t-heading-2 {
    color: #083675;
}
.c-action-primary {
    color: #a41638;
}

.c-on-base {
   color: #083675;
}