@import '../../common/scss/tools/_breakpoint.scss';
@import "../../common/scss/layouts/globals/variables.scss";
@import './layouts/geral/newsletter/main.scss';

.j-empty__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    strong { 
        margin-top: 40px;
        font-size: 50px;
        color: $color-red;
    }

    p {
        margin: 40px 0;
        font-size: 30px;
        color: $color-blue;
    }

    a {
        display: block;
        font-size: 16px;
        color: $color-blue;
        margin-bottom: 40px;
    }
}


