
.j-newsletter {
    display: flex;
    justify-content: space-between;
    transition: all 225ms ease;

    
    .j-left {
        flex: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        h4 {
            color: #000;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            position: relative;
        }
    }

    .j-right {
        flex: 25%;    
    }

    form {
        display: flex;
        align-items: center;
        transition: all 225ms ease;
        width: 100%;
        
        &.is--success {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        
        fieldset {
            border: none;
            width: 100%;
        }

        input {
            width: 100%;
            display: block;
            border: none;
            font-size: 12px;
            margin-top: 10px;
            color: #999999;
            padding: 0 10px;
            border-bottom: 1px solid #707070;
        }

        button {
            width: 118px;
            height: 45px;
            text-align: center;
            background-color: #000000;
            text-align: center;
            line-height: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 19px;
            border: none;
            margin-left: 21px;
            cursor: pointer;
            transition: all 225ms ease;

            &:hover {
                background-color: #bb3d5a;
            }
        }
    }

    .j-newsletter__success {
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        clear: both;

        &.is--active {
            opacity: 1;
            visibility: visible;
        }

        p {
            font-size: 25px;
            color: #fff;
        }
    }
}

.j-main {
    &__content {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        margin-top: 40px;        
    }
}

.j-home {
    &__social {
        
        &--links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            
            p {
                font-size: 20px;
                color: #000;
                margin-right: 44px;
            }
            
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                
                li {
                    margin: 0 15.5px;

                    svg {
                        height: 35px;
                    }
                }
            }
        }
    }
}