.j-product__shelf {
    margin-top: 65px;

    &>h2 {
        color: $color-black;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5px;
        margin-top: 45px;
        margin-bottom: 25px;
    }
}

.j-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-transform: uppercase;
    margin: 30px 0;

    > div {
        width: 50%;
    }

    h3 {
        color: $color-black;
        font-weight: 400;
        font-size: 18px;
        padding: 8px 0;
        text-align: center;
        border: 1px solid $color-black;
        margin-bottom: 15px;
    }

    &--left {
        h3 {
            border-right: 0;
        }
    }

    &--right {
        h3 {
            border-left: 0;
        }
    }

    p {
        margin: 5px 0;
        line-height: 19px;
        font-size: 14px;
        color: $color-black;
    }

    &.is--spec {
        .Filtros, h4.Ficha-Tecnica {
            display: none;
        }

        table.Ficha-Tecnica {
            width: 100%;

            tr {
               padding: 20px 0;
               border-top: 2px solid #e6e7e8;
               border-bottom: 2px solid #e6e7e8; 
            }

            th {
                font-weight: bold;
                text-align: left;
                border-bottom: 1px solid #e6e7e8;
                height: 52px;
                padding-left: 20px;
                width: 10%;            

                @include breakpoint('mobile') {
                    padding-left: 0;
                }
            }

            td {
                color: $color-darkgray;
                font-size: 13px;
                font-weight: 400;
                text-align: left;
                border-bottom: 1px solid #e6e7e8;
                padding-left: 20px;

                @include breakpoint('mobile') {
                    padding-left: 10px;
                }

            }

            tr {

                &:last-child {
                    th,td {
                        border-bottom: none;
                    }
                }
            }
        }

    }
}

#caracteristicas {
    .group.Filtros {
        display: none;
    }
}