.j-content__product {
    .j-product__name {
        text-align: center;
        color: $color-black;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 14px;

        &::first-letter {
            text-transform: uppercase;
        }
    }
    
    &--wrapper__infos {
        display: flex;
        flex-direction: row;
    }

    &--img {
        width: 50%;

        #image {
            a {
                cursor: zoom-in;
            }
        }

        #show {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            #include {
                order: 2;
                width: 90%;
                padding-left: 0;

                img {
                    display: block;
                    width: 100%;
                }
            }
            
            .thumbs {
                width: 17%;
                order: 1;
                display: block;
                position: relative;
                padding: 25px 0;              
            }
        }

        .slick-arrow {
            cursor: pointer;
            border: none;
            font-size: 0;
            width: 20px;
            height: 20px;
            display: block;
            background: none;
            border-right: 3px solid $color-main;
            border-bottom: 3px solid $color-main;
            position: absolute;
            left: 50%;
        }
        
        .slick-prev {
            top: 0;
            transform: translateX(-50%) rotate(-135deg);
        }
        
        .slick-next {
            bottom: 0;
            transform: translateX(-50%) rotate(45deg);
        }

        .zoomWindow {
            overflow: hidden;
            border: 1px solid transparent;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            left: 0px !important;
        }

        .zoomPad {
            position: relative;
        }

        .zoomWrapperImage {
            img {
                max-width: unset!important;
                width: auto!important;
            }
        }

        .slick-dots {
            display: flex!important;
            justify-content: center;
        
            li {
                margin: 0 2.5px;

                button {
                    font-size: 0;
                    border: 0;
                    width: 10px;
                    height: 10px;
                    background-color: $color-lightgray;
                    border-radius: 50%;
                    opacity: 0.7;
                    transition: all 225ms ease;
                }

                &.slick-active {
                    button {
                        opacity: 1;
                    }
                }
            }
        }
        
    }

    &--infos {
        width: 50%;
        padding-left: 35px;

        .j-box-price {
            .descricao-preco {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .valor-de {
                    font-size: 18px;
                    color: #666666;
                    text-transform: uppercase;
                    text-decoration: line-through;
                    font-style: inherit;
                    
                    strong {
                        font-weight: 400;
                    }
                }
                
                .valor-por {
                    font-style: inherit;
                    font-size: 18px;
                    color: $color-black;
                    text-transform: uppercase;
                    margin-left: 7px;

                    strong {
                        font-weight: 400;
                    }
                }
            }

            .economia-de {
                display: none;
            }

            .valor-dividido {
                width: 100%;
                font-style: normal; 
                font-size: 23px;
                color: #666666;
                text-align: center;
            }

            .preco-a-vista {
                display: none!important;
            }

            .j-discount-price {
                margin: 5px 0;
                display: block;
                color: $color-darkgray;
                font-size: 12px;

                span {
                    color: #eb3d00;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }

        .j-box-variations {
            margin: 15px 0 20px;
            text-align: center;

            .sku-selector-container ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 23px;

                li {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    &:first-child {
                        color: #666666;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        display: block;
                    }
                    
                    span {
                        display: block;
                        width: 100%;
                    }
    
                    input {
                        display: none;
                    }
                    
                    label {
                        width: 35px;
                        height: 35px;
                        margin: 0 5px;
                        border-radius: 50%;
                        border: 1px solid $color-black;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;

                        &.item_doesnt_exist {
                            opacity: .7;
                            color: $color-lightgray;
                            border-color: $color-lightgray;
                            background: $color-lightgray;
                            position: relative;
                            cursor: default;
                            pointer-events: none;

                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                top: 50%;
                                left: 0;
                                background: $color-darkgray;
                                transform: rotate(45deg);
                            }
                            
                            &::after {
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
                
                &.Cor {
                    li {
                        label {
                            font-size: 0;
    
                            &[class*="Preto"] {
                                background: $color-black;
                            }
    
                            &[class*="Vermelho"] {
                                background: #F00;
                            }
                        }
                    }
                }
                
                &.Tamanho {
                    li {
                        
                        label {
                            font-size: 12px;
                            width: 35px;
                            height: 35px;
                            margin: 0 5px;
                            line-height: 35px;
                            border-radius: 50%;
                            border: 1px solid $color-black;
                            display: inline-block;
                            vertical-align: middle;
                            color: $color-black;
    
                            &[class*="checked"] {
                                background: $color-black;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }

        .j-rate {
            strong {
                display: none;
            }
            span {
                &::after {
                    display: none!important;
                }
            }
        }

        .j-box-descrition {
            margin: 5px 0;

            > div {
                color: $color-darkgray;
                font-size: 13px;
                font-weight: 400;
                line-height: 16.52px;
            }
        }

        .j-box-cta {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;

            &__tabela {
                font-size: 14px;
                color: $color-white;
                text-transform: uppercase;
                text-align: center;
                padding: 13px;
                background: $color-black;
                border: 1px solid $color-black;
                cursor: pointer;
            }

            &__provador {
                appearance: none;
                -webkit-appearance: none;
                font-size: 14px;
                color: $color-black;
                text-transform: uppercase;
                text-align: center;
                padding: 13px;
                background: $color-white;
                border: 1px solid $color-black;
                cursor: pointer;
            }

        }

        .j-box-freight {
            margin-top: 10px;

            p,a {
                color: $color-darkgray;
                font-size: 12px;
                font-weight: 400;
                line-height: 13.91px;
                margin: 5px 0;
            }

            h1 {
                display: none;
            }

            > p {
                a {
                    text-decoration: underline;
                }
            }

            #popupCalculoFreteWrapper {
                display: none;
            }

            #calculoFrete {
                h1 {
                    line-height: 12px;
                    a {
                        &:before {
                            content: 'EM ESTOQUE: Vendido e entregue por: ';
                            color: $color-darkgray;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 13.91px;
                        }
                    }
                }

                h2,.close {
                    display: none;
                }
            }
        }

        .content {
            margin-top: 15px;

            fieldset {
                border: none;
                // background-color: #f4f4f4;
                padding: 15px 10px;


                .quantity {
                    display: none;
                }

                .prefixo {
                    font-size: 0px;

                    &:before {
                        content: 'Digite seu CEP';
                        display: inline-block;
                        color: $color-darkgray;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16.52px;
                        margin-right: 15px;
                        font-family: $font-main;

                        @include breakpoint('mobile') {
                            font-size: 11px;
                            margin-right: 10px;
                        }

                    }
                }

                .lnkExterno {
                    @include breakpoint('mobile') {
                        
                    }
                }

                input {
                    max-width: 127px;
                    border: 1px solid #b8b8b8;
                    background-color: #ffffff;
                    color: #e1dfdf;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.52px;
                    padding: 6px;

                    &::placeholder {
                        color: #e1dfdf;
                    }

                    &[type="button"] {
                        display: inline-block;
                        color: #fff;
                        background-color: $color-blue;
                        padding: 3px 6px;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16.52px;
                        margin-right: 15px;
                        text-transform: uppercase;
                        margin: 0 15px;
                        border: none;
                        
                    }
                }
            }
        }

        .j-box-buy {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin: 35px auto 0;

            .box-qtd {
                order: 1;

                &::before {
                    content: "Quantidade: ";
                    font-size: 14px;
                    color: $color-black;
                    text-transform: uppercase;
                    margin-right: 7px;
                }

                input {
                    width: 25px;
                    height: 25px;
                    border: 1px solid $color-black;
                    text-align: center;
                    font-size: 14px;
                    color: $color-black;
                }
                
                button {
                    appearance: none;
                    text-align: center;
                    font-size: 25px;
                    color: $color-black;
                    text-transform: uppercase;
                    background: $color-white;
                    border: none;
                }
            }
            
            .btn-wishlist {
                order: 2;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                color: $color-black;
                text-transform: uppercase;

                svg {
                    height: 25px;
                }
            }
            
            .buy-button {
                order: 3;
                cursor: pointer;
                margin-top: 30px;
                text-align: center;
                padding: 10px 5px;
                width: 100%;
                display: block;
                color: $color-black;
                border: 2px solid $color-black;
                text-transform: uppercase;
                font-size: 18px;
                background-color: $color-green;
            }            
        }

        .j-box-social {
            margin: 20px 0;

            p {
                text-align: center;
                color: #666666;
                font-size: 18px;

                &::after {
                    content: '_';
                }
            }

            ul {
                margin: 15px auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                li {
                    a {
                        svg {
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

.j-main__content {
    margin: 65px 0 30px;
    justify-content: space-around;
}

.j-medidas {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-height: 90vh;
    max-width: 800px;
    background: $color-white;
    border-radius: 6px;
    padding: 5px;
    z-index: 99999999999999;
    transform: translate(-50%, -50%);
    overflow: hidden;

    &.is--active {
        display: block;
    }

    &__close {
        position: absolute;
        right: 5px;
        top: 15px;
        cursor: pointer;
    }

    &__content {
        text-align: center;
    }
}