.j-newsletter {
    display: flex;
    justify-content: space-between;
    transition: all 225ms ease;
    margin-bottom: 20px;

    .j-left {
        flex: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h4 {
            color: #000;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            position: relative;
        }
    }

    .j-right {
        flex: 25%;
        display: flex;
    }

    form {
        display: flex;
        align-items: center;
        transition: all 225ms ease;
        width: 100%;
        
        &.is--success {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        
        fieldset {
            border: none;
            width: 100%;
        }

        input {
            width: 100%;
            display: block;
            border: none;
            font-size: 12px;
            margin-top: 10px;
            color: #999999;
            padding: 5px 10px;
            border-bottom: 1px solid #707070;
        }

        button {
            width: 100px;
            height: 40px;
            text-align: center;
            background-color: #000000;
            text-align: center;
            line-height: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            border: none;
            margin-left: 21px;
            cursor: pointer;
            transition: all 225ms ease;

            &:hover {
                background-color: #bb3d5a;
            }
        }
    }

    .j-newsletter__success {
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        clear: both;

        &.is--active {
            opacity: 1;
            visibility: visible;
        }

        p {
            font-size: 25px;
            color: #fff;
        }
    }
}
.j-home__social {
    &--links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        > p {
            text-transform: uppercase;
            font-size: 14px;
            margin-right: 15px;
        }
    }
}
.j-social__links {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
        font-size: 0;
        margin-right: 15px;

        a {
            &::before {
                font-family: "FontAwesome";
                font-size: 24px;
                color: #000;
            }
        }
    }

    &--facebook {
        a::before {
            content: "\f082";
        }
    }

    &--instagram {
        a::before {
            content: "\f16d";
        }
    }

    &--youtube {
        a::before {
            content: "\f167";
        }
    }

    &--pinterest {
        a::before {
            content: "\f231";
        }
    }
}