.j-header__menu {
    display: flex;
    height: 38px;
    align-items: center;
    transition: all 300ms ease;
    height: auto;
    align-items: center;
    z-index: 99;
    width: 100%;
    justify-content: center;

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 8px auto 13px;
    }

    &--item {
        &-link {
            text-align: center;
            color: #000000;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
            
            &::after {
                content: '';
                width: 0;
                height: 1px;
                display: block;
                margin-top: 5px;
                background: #000000;
                transition: all 300ms ease-in-out;
            }
            
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        &:last-child {
            a {
                color: #CC0066;

                &::after {
                    background: #CC0066;
                }
            }
        }
    }

    .j-menu-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;            

        a {
            display: block;
            color: #ffffff;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;

        }
    }
}