.j-minicart {
    position: relative;

        margin-right: 10px;
    
    > img {
        cursor: pointer;
    }

    &__content {
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(-50%);
        z-index: 500;
        background-color: #fff;
        border: 1px solid $color-blue;
        padding: 15px 5px;
        width: 280px;
        max-width: 90vw;

        opacity: 0;
        visibility: hidden;
        transition: all 325ms ease-in;
        
        &.is--active {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            content: '';
            border: 1px solid #083675;
            display: block;
            width: 20px;
            height: 20px;
            left: 50%;
            transform: rotate(45deg) translateX(-50%);
            border-right: none;
            border-bottom: none;
            position: absolute;
            background-color: #fff;
            top: -4px;

        }


        .j-minicart-close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        &-top {
            border-bottom: 1px solid $color-red;
            padding-bottom: 12px;
            margin-bottom: 20px;
            
            p {
                text-align: center;
                color: #585757;
                font-size: 12px;
                line-height: 19.52px;
                text-transform: uppercase;
            }
        }

        .j-minicart-empty {
            padding-bottom: 5px;

            p {
                text-align: center;
                color: #585757;
                font-size: 12px;
                line-height: 19.52px;
                text-transform: uppercase;
            }
        }

        .j-minicart-items {
            .j-minicart-items__list {
                max-height: 200px;
                overflow: auto;
                margin-bottom: 10px;
                
                &::-webkit-scrollbar-button {
                    display: none;
                }
                &::-webkit-scrollbar {
                    width: 3px;
                    background-color: rgba(204, 204, 204, 0.7);
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $color-blue;
                }

                li {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 20px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #e5e5e5;

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    
                    .j-minicart-img {
                        width: 75px;
                    }

                    .j-minicart-item {
                        width: calc(100% - 10px);
                    }

                    .j-minicart-item__name {
                        color: #585757;
                        font-size: 11px;
                        margin-bottom: 15px;
                    }

                    .j-minicart-item__bottom {
                        display: flex;
                        justify-content: space-between;

                        .j-minicart-price {
                            p {
                                color: #585757;
                                font-size: 12px;
                                font-weight: bold;
                                line-height: 19.52px;
                            }
                        }

                        .j-minicart-qty {
                            display: flex;
                            align-items: flex-end;
                            
                            .j-minicart__form {
                                display: flex;
                                background-color: #c7c7c7;

                                &-ipt,
                                &-btn {
                                    display: block;
                                    width: 18px;
                                    height: 100%;
                                    border-radius: 0;
                                    text-align: center;
                                }

                                &-btn {
                                    line-height: 18px;
                                    color: #000;
                                    border: none;
                                    cursor: pointer;
                                }

                                &-ipt {
                                    text-align: center;
                                    background-color: #ffffff;
                                    font-size: 10px;
                                    min-height: 16px;
                                    margin-top: 1px;

                                    &::-webkit-inner-spin-button { 
                                        -webkit-appearance: none;
                                        
                                    }
                                    & { 
                                       -moz-appearance: textfield;
                                       appearance: textfield;
                                    
                                    }
                                }
                            }
                            .j-minicart-remove__item {
                                display: block;
                                margin-left: 15px;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .j-minicart-total {
                background-color: #4872ab;
                padding: 5px;
                margin-bottom: 10px;

                p {
                    text-align: center;
                    font-weight: 700;
                    font-size: 11px;
                    color: #fff;

                    strong {
                        color: inherit;
                        font-size: inherit;
                    }
                }
            }
        }
        .j-minicart-btn {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            padding: 11px;
            display: block;
            font-size: 11px;
            margin: 0 auto;
            width: 145px;
            background-color: $color-red;
        }
    }
}