.j-pre-header {
  padding: 5px 0;
  border-bottom: 1px solid #707070;

  &__left {
    width: 45%;
    padding: 7px 0 10px;

    img {
      display: block;
    }
  }
  
  &__benefits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &--item {
      color: #000;
      font-size: 12px;
      text-transform: uppercase;

      &:first-child {
        background: url(/arquivos/icon-security.png) no-repeat center left;
        background-size: contain;
        padding-left: 20px; 
      }
      
      &:last-child {
        background: url(/arquivos/icon-shipping.png) no-repeat center left;
        background-size: contain;
        padding-left: 23px; 
      }
    }
  }

  &__items {
    display: flex;
    padding: 0 2%;
    align-items: center;
    justify-content: space-between;
  }

  &__middle {
    .j-pre-title {
      color: $color-red;
      font-family: $font-main;
      font-size: 17px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .j-pre-list {
    display: flex;
    margin-top: 5px;

    li {
      margin: 0 5px;
      position: relative;

      &:before {
        content: "";
        width: 2px;
        height: 2px;
        display: block;
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-blue;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    a {
      display: block;
      color: $color-blue;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 0%;
        height: 1px;
        background: $color-blue;
        position: absolute;
        transition: all 225ms ease;
        bottom: 0;
        left: 0;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__search {
    border: none;
    position: relative;
    margin: 5px 30px 5px 0;
    width: 50%;

    fieldset {
      border: 0;
      label,
      select,
      legend {
        display: none;
      }
    }

    legend,
    label,
    select {
      display: none;
    }

    input[type="text"] {
      display: flex;
      align-items: center;
      width: 100%;
      height: 25px;
      border: 0;
      border-bottom: 1px solid #a6a6a6;
      background-color: #fff;
      padding: 0 5px;
      color: #707070;
      font-size: 12px;
      font-weight: 400;
      transition: all 225ms ease;
    }

    .btn-buscar {
      color: transparent;
      font-size: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      background-image: url("/arquivos/icon-search.png");
      background-size: cover;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &__wishlist {
    margin: 0 15px;
  }

  .j-minicart {
    position: relative;

    .title,
    .amount-kits,
    .amount-products,
    .total-cart,
    #MostraTextoXml3 {
      display: none;
    }

    .portal-totalizers-ref {
      // display: flex;
      display: none;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 7px;
      background-color: #ec5477;
      position: absolute;
      top: -8px;
      right: -8px;
    }

    .amount-items-em {
      color: #fff;
      font-size: 10px;
      font-weight: 400;
      display: block;
      transform: translate(-1px);
    }
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    margin-left: 0;
    margin-right: 0;

    &.is--mobile {
      display: block;
    }
  }

  .j-pre-btn {
    display: flex;
    color: $color-red;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
    height: 25px;
    border: 1px solid $color-blue;
    background: #fff;
    width: 175px;
    transition: all 225ms ease;
    justify-content: center;
    font-weight: 900;

    &:hover {
      color: $color-blue;
      border-color: $color-red;
      transform: scale(1.02);
      box-shadow: 0 0 5px $color-red;
    }
  }
}