.j-filter-mobile {

    display: flex;
    align-items: flex-end;

    .j-filter__mobile-left {
        display: none;
    }

    .j-filter__mobile-right {
        width: 100%;

        .j-filter__title {
            color: $color-main;
            font-size: 23px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .j-filter__mobile-color {
            padding: 0 10px;
            background-color: $color-main;
            min-height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .j-filter__mobile-btn {
                width: 35px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #e0e0e0;
                background-color: #ffffff;
                background-image: url('/arquivos/ico-filter.png');
                background-position: center center;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
        
        .j-filter__mobile-order {
            display: flex;
            align-items: center;

            label {
                font-size: 12px;
                color: #fff;
                font-weight: 700;
                display: block;
                margin-right: 10px;
            }
            select {
                border: 1px solid $color-lightgray;
                background-color: #ffffff;
                width: 180px;
                color: $color-darkgray;
                font-size: 10px;
                font-weight: 700;
                padding: 5px 0;
            }
        }
    }
}