.bread-crumb {
    margin: 30px 0;

    a, strong {
        color: $color-darkgray;
        font-size: 11px;
        font-weight: 400;
    }
}

.j-category__content {
    display: flex;
    justify-content: space-between;
    

    .j-category__left {
    //    display: none;   
    }
    .j-category__right {
        width: 100%;
            display: flex;
            flex-direction: column;


        .j-shelf > ul {
            li {
                width: 48%;
                margin: 0;
            }
        }
    }
}

.pager,
.searchResultsTime,
.sub  {
    display: none;
}