.resultado-busca {
    .j-search__top {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;

        .j-search__title {
            color: $color-blue;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .j-banner__small {
        display: none;
    }
    .j-category__filter {
        background-color: $color-blue;
        transform: none;
    }
    .j-category__left {
        margin-top: 40px;

    }
}