.bread-crumb {
    margin: 20px 0 25px;
    ul {
        display: flex;

        li {
            margin: 0 5px;
            text-transform: uppercase;
            
            a {
                text-transform: uppercase;
            }

           
            &:before {
                content: ' / ';
                display: inline-block;
                color: #585757;
                margin-right: 10px;
                
            }
            
            &:first-child {
                &:before {
                    display: none;
                }
            }
            
        }
    }
}