.j-shelf {

  > h2 {
    color: $color-black;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: 45px;
    margin-bottom: 25px;
  }

  > ul {
    display: block;
    margin: 40px 0;
    
    li {
      width: 23%;
      margin: 0 1% 2%;
      display: inline-block;

    }
  }

  &__item {
    height: 315px;
    text-align: center;
    border: 1px solid #707070;

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: block;

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto 15px;
        }
      }
    }
    &-name {
      a {
        display: block;
        margin: 0 0 7.5px;
        font-size: 12px;
        color: $color-black;
        min-height: 12px;
        font-weight: 400;
      }      
    }
    
    &-old-price {
      color: #666666;
      font-size: 12px;
      text-decoration: line-through;
      display: inline-block;
    }
    
    &-new-price {
      color: $color-black;
      font-weight: 700;
      font-size: 12px;
      display: inline-block;
    }

    &-installments {
      font-size: 12px;
      color: #666666;
      display: block;
      font-style: normal;
      min-height: 12px;
      text-align: center;
    }
  }
}
