@import './layouts/globals/variables.scss';
@import './layouts/globals/fonts.scss';
@import './tools/breakpoint';

#ajaxBusy,
#vtex-callcenter__toolbar {
	display: none!important;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

ul, ol {
	margin-left: 0;
	list-style: none;
}

a {
	color: $color-main;
	text-decoration: none;
}

body {
	font-family: $font-main;
	color: $color-main;
	background: #fff;
	font-size: 14px;
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1220px;
	max-width: 90vw;
}

img {
	max-width: 100%;
	height: auto;
}

.overlay {
	&.is--active {
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .6);
		width: 100vw;
		height: 100vh;
		z-index: 9999999999999;
	}
}