.bread-crumb {
    ul {
        display: flex;
        align-items: center;
        margin: 20px 0 25px;

        li {
            font-size: 0;
            
            &:nth-last-child(2) {
                &:before {
                    content: '<';
                    display: inline-block;
                    color: #56bbef;
                    margin-right: 10px;
                    font-size: 17px;
                }
            }
            &:last-child {
                font-size: 10px;
                color: #000;
            }
        }
    }
}