.j-banner__main {
  .j-banner__slider {
    width: 100%;

    &.is--desktop {
     
    }
    &.is-mobile {
      display: none;

      
    }
    
    .box-banner {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .slick-dots {
      display: flex !important;
      justify-content: center;
      transform: translateY(-40px);
      width: 100%;

     

      li {
        margin: 0 5px;

        button {
          display: block;
          font-size: 0;
          width: 8px;
          height: 8px;
          background-color: #8e8e8e;
          border-radius: 50%;
          border: none;
          position: relative;
          cursor: pointer;
          transition: all 225ms ease;

          &::after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid #8e8e8e;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            
           
          }
        }

        &.slick-active {
          button {
            background-color: #FFF;

            &:after {
              border-color: #FFF;
            }
          }
        }
      }
    }
  }
}
