.j-home {
    &__blog {
        display: block;
        margin: 62px auto 52px;

        &--video {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            padding-right: 16px;
        }
        &--banner {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            padding-left: 16px;
            position: relative;

            .slick-arrow {
                font-size: 0;
                background: none;
                border: none;
                display: block!important;
                width: 40px;
                height: 40px;
                position: absolute;
                top: 0;
                z-index: 10;
    
                &::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border: 1.5px solid black;
                    border-bottom: 0;
                    border-right: 0;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
    
                &.slick-prev {
                    background-color: #ececec;
                    right: 40px;
                }
    
                &.slick-next {
                    background-color: #000;
                    right: 0;    
                
                    &:before {
                        border-color: #ececec;
                        transform: translate(-50%, -50%) rotate(135deg);
                    }
                }
            }
        }
    }

    &__shelfs {
        text-align: center;
        
        .j-shelf {
            &.vitrine {
                display: none;
                &+a {
                    display: none;
                }
                
                &:nth-child(2) {
                    display: block;
                    &+a {
                        display: block;
                    }
                }

                &+a {
                    text-transform: uppercase;
                    margin: 0 auto;
                    color: $color-black;
                    font-size: 20px;
                    padding: 7px 13px;
                    border: 1px solid $color-black;
                }
            }
        }
    }

    &__abas {
        text-align: center;
        display: block;

        &--items {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                font-size: 20px;
                color: $color-black;
                text-transform: uppercase;
                margin: 0 15px;
                cursor: pointer;

                &::after {
                    content: '';
                    width: 0;
                    height: 1px;
                    display: block;
                    margin-top: 5px;
                    background: #000000;
                    transition: all 300ms ease-in-out;
                }
                
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        +.j-shelf {
            &.vitrine {
                display: block;
                &+a {
                    display: inline-block;
                }
            }
        }
    }
}