.j-mosaico {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 61px 0 91px;

    &__banners {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 40px 0;

        &--principal {
            width: 50%;
        }

        .box-banner {
            a, img {
                display: block;
                width: 100%;
            }
        }

        &--outros {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            
            .box-banner {
                width: 50%;

                img {
                    width: auto;
                    max-height: 308px;
                }
            }
        }
    }
}