<footer class="j-footer">
    <div class="container">
        <div class="j-footer__sitemap">
            <div class="j-footer__departament-links">
                <h3>Departamentos</h3>
                <vtex.cmc:departmentLinks/>
            </div>

            <div class="j-footer__institutional-links">
                <h3>Institucional</h3>
                <ul>
                    <li>
                        <a href="/institucional/sobre-nos">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="/institucional/trocas-e-devolucoes">Trocas e Devoluções</a>
                    </li>
                    <li>
                        <a href="/institucional/politica-de-privacidade">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="/institucional/termos-de-uso">Termos de Uso</a>
                    </li>
                </ul>
            </div>

            <div class="j-footer__profile-links">
                <h3>Atendimento</h3>
                <ul>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/account/orders">Meus Pedidos</a>
                    </li>
                </ul>
                <p>(11) 2388-8296</p>
                <p>
                    <a href="mailto:emailsac@atendimento.com.br">emailsac@atendimento.com.br</a>
                </p>
                <p>SEGUNDA A SEXTA DAS 8:00 ÀS 18:00</p>
                <p>SÁBADO DAS 8:00 ÀS 13:00</p>
                <p>EXCETO FERIADOS</p>
            </div>

            <div class="j-footer__payments">
                <h3>Formas de Pagamento</h3>
                <img src="/arquivos/formas-de-pagamentos.png" alt="Formas de pagamento" />
                <h3>Siga-nos</h3>
                <vtex.cmc:redessociais />
            </div>
        </div>

        <div class="j-footer__newsletter">
            <vtex.cmc:newslettergeral />
        </div>

        <div class="j-footer__copyright">
            <div class="j-footer__copyright--text">
                <p>COPYRIGHT© 2019 – TATIX COMÉRCIO E PARTICIPAÇÕES LTDA | CNPJ: 19.112.842/0001-63 | IE:  298.221.581.114</p>
                <p>R. JOSÉ SEMIÃO RODRIGUES AGOSTINHO, 1370 - ÁGUA ESPRAIADA, EMBU DAS ARTES - SP</p>
            </div>

            <div class="j-footer__created">
                <ul>
                    <li>
                        <a href="https://www.tatix.com.br" target="_blank">
                            <img src="/arquivos/logo_tatix_white.png" alt="Tatix Full Commerce - Soluções b2b" title="Tatix Full Commerce - Soluções b2b" />
                        </a>
                    </li>
                    <li>
                        <img src="/arquivos/logo-vtex.png" alt="Vtex" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>