<vtex:metaTags/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/arquivos/store-common-global.css" />
<link rel="stylesheet" href="/arquivos/store-desktop-geral.css" />
<link rel="stylesheet" href="/arquivos/slick.min.css" />