<header>
    <div class="j-pre-header">
        <div class="container">
            <div class="j-pre-header__items">
                <div class="j-pre-header__left">
                    <ul class="j-pre-header__benefits">
                        <li class="j-pre-header__benefits--item">Compra Segura</li>
                        <li class="j-pre-header__benefits--item">1ª Troca Grátis</li>
                        <li class="j-pre-header__benefits--item">FRETE GRÁTIS A PARTIR DE R$350</li>
                    </ul>
                </div>            
                <div class="j-pre-header__right">
                    <div class="j-pre-header__search">
                        <vtex.cmc:fullTextSearchBox/>
                    </div>
                    <div class="j-pre-header__account">
                        <a href="/account">
                            <img src="/arquivos/icon-user.png" alt="Minha Conta" />
                        </a>
                    </div>
                    <div class="j-pre-header__wishlist">
                        <a href="/account/wishlist">
                            <img src="/arquivos/icon-wish.png" alt="Wishlist" />
                        </a>
                    </div>
                    <div class="j-pre-header__minicart">
                        <div class="j-minicart">
                            <vtex.cmc:AmountItemsInCart />
                            <img src="/arquivos/minicart-icon.png" alt="Carrinho de compras" title="Carrinho de compras" />
    
                            <div class="j-minicart__content">
                                <span class="j-minicart-close">X</span>
                                <div class="j-minicart__content-js"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="j-main-header">
        <div class="container">
            <div class="j-header__logo">
                <div class="j-store__logo">
                    <a href="/">
                        <img src="/arquivos/logo-sexy.png" alt="Sexy" title="Sexy" />
                    </a>
                </div>
            </div>
            <div class="j-header__menu">
                <nav class="j-header__menu">
                    <ul>
                        <li class="j-header__menu--item">
                            <a href="/sutias" class="j-header__menu--item-link">Sutiâs</a>
                        </li>
                        <li class="j-header__menu--item">
                            <a href="/calcinhas" class="j-header__menu--item-link">Calcinhas</a>
                        </li>
                        <li class="j-header__menu--item">
                            <a href="/body" class="j-header__menu--item-link">Body</a>
                        </li>
                        <li class="j-header__menu--item">
                            <a href="/moda-praia" class="j-header__menu--item-link">Moda Praia</a>
                        </li>
                        <li class="j-header__menu--item">
                            <a href="/fitness" class="j-header__menu--item-link">Fitness</a>
                        </li>
                        <li class="j-header__menu--item">
                            <a href="/closet" class="j-header__menu--item-link">Closet</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>