.ui-autocomplete {
	background-color: #fff;
	padding: 15px 30vw 20px 15vw;
	position: fixed!important;
	max-height: calc(100vh - 120px);
	overflow-y: auto;

	&::-webkit-scrollbar-track
	{
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar
	{
		width: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: #0ae;
		background-image: -webkit-gradient(linear, 0 0, 0 100%,
		                   color-stop(.5, rgba(255, 255, 255, .2)),
						   color-stop(.5, transparent), to(transparent));
	}

	img {
		width: 30px;
		height: auto;
	}

	li {
		padding: 10px 0;
		text-transform: capitalize;
	}
}