.j-benefits__list {
    display: flex;
    height: 37px;
    align-items: center;
    
    background-color: $color-red;

    ul {
        display: flex;
        justify-content: center;    
        width: 100%;

        li {
            margin: 0 20px;

            a {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            span,img {
                display: block;
            }
            
            strong,
            small {
                color: #fff;
                display: block;
            }

            strong {
                font-size: 14px;
            }
            small {
                font-size: 8px;
                font-weight: bold;
            }

            p {
                margin-left: 5px;
            }

            &:first-child {
                strong {
                    text-transform: uppercase;
                    font-size: 11px;
                }
            }

            &:last-child {
                img {
                    width: 24px;
                }
                
            }
        }
    }
}