header {
    display: flex;
    flex-direction: column;
    background: $color-white;
}

.j-main-header {
	margin: 15px 0;

	&__items {
        display: flex;
        flex-direction: column;
	}

	&__left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .j-hamburguer {
                position: relative;
                width: 40px;
                height: 40px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                
                span {
                    display: block;
                    width: 80%;
                    height: 4px;
                    background-color: #000;
                    margin-bottom: 5px;
                    transition: all 300ms ease;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                &.is--active {
                    span {
                        background-color: #fff;

                        &:first-child {
                            opacity: 0;
                            height: 0;
                        }
                        &:nth-child(2) {
                            transform: translateY(4px) rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: translateY(-5px) rotate(-45deg);
                        }
                    }    
                }
        }

        .j-store__logo {
            img {
                width: 120px;
                margin: 0 auto;
            }
        }
	}

	&__middle {
        margin: 0 10px;
        
        .j-institutionais__list {
            display: flex;
            

            li {
                margin: 0 5px;
                position: relative;
                
                &:before {
                        content: '|';
                        width: 1px;
                        height: auto;
                        display: block;
                        position: absolute;
                        font-size: 13px;
                        left: -5px;
                        top: 50%;
                        transform: translateY(-50%);
                        overflow: hidden;
                        background: #a6a6a6;
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }

                a {
                    color: #585757;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }

        .busca {
            border: none;
            position: relative;
            margin-top: 10px;

            legend,
            label,
            select {
                display: none;
            }

            input[type="text"] {
                display: flex;
                align-items: center;
                width: 100%;
                height: 30px;
                border-radius: 2px;
                border: 1px solid #a6a6a6;
                background-color: #fff;
                padding-left: 30px;
                padding-right: 15px;
                color: #7e7e7e;
                font-size: 12px;
                font-weight: 400;
                transition: all 225ms ease;
            }

            .btn-buscar {
                color: transparent;
                font-size: 0;
                background-color: transparent;
                border: none;
                cursor: pointer;
                background-image: url("/arquivos/icon-search.png");
                background-size: cover;
                width: 16px;
                height: 16px;
                display: block;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        input[type="text"] {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: 1px solid #a6a6a6;
            background-color: #fff;
            padding-left: 30px;
            padding-right: 15px;
            color: #7e7e7e;
            font-size: 12px;
            font-weight: 400;
            transition: all 225ms ease;
            outline: none;
        }

        .j-popup-user {
            position: relative;
            display: none;

            &.is--active {
                display: block;
            }

            p {
                color: #585757;
                font-size: 13px;
                font-weight: 400;
                text-align: center;
            }

            .j-open-popup__account {
                cursor: pointer;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 5px;
                    border: 1px solid #333;
                    border-bottom: none;
                    border-right: none;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    transform: translateY(-50%) rotate(-135deg);
                }
            }
            
            .j-list-user {
                position: absolute;
                padding: 5px 15px 5px;
                background-color: #b2153b;
                min-width: 130px;
                top: 110%;
                left: -50%;
                opacity: 0;
                visibility: hidden;
                transition: all 300ms ease;

                &.is--active {
                    opacity: 1;
                    visibility: visible
                }

                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    left: 50%;
                    transform: rotate(45deg) translateX(-50%);
                    border-right: none;
                    border-bottom: none;
                    position: absolute;
                    background-color: #b2153b;
                    top: -2px;
                }

                li {
                    a {
                        font-size: 12px;
                        display: block;
                        margin: 7.5px 0;
                        padding-bottom: 3px;
                        position: relative;
                        color: #fff;

                        &:after {
                            content: "";
                            display: block;
                            width: 0%;
                            height: 1px;
                            background: #fff;
                            position: absolute;
                            -webkit-transition: all 225ms ease;
                            -o-transition: all 225ms ease;
                            transition: all 225ms ease;
                            bottom: 0;
                            left: 0;
                        }

                        &:hover{
                            &:after {
                                width: 80%;
                            }
                        }
                    }
                } 
            }
        }
        
        .j-social__list {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            li {
                margin-left: 5px;
            }
        }

        .j-list-login {
            display: flex;
            width: calc(100% - 24px);

            &.is--inactive {
                display: none
            }
            
            li {
                margin: 0 5px;
                position: relative;
                height: fit-content;

                &:before {
                    content: '|';
                    width: 1px;
                    height: auto;
                    display: block;
                    position: absolute;
                    font-size: 13px;
                    left: -7.5px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #333;
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }

                a {
                    color: #585757;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
    }

    .j-minicart {
        &__title,
        .title,
        .amount-kits,
        .amount-products,
        .total-cart,
        #MostraTextoXml3 {
            display: none;
        }

        .portal-totalizers-ref {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                border-radius: 7px;
                background-color: #c50c20;
                position: absolute;
                top: -8px;
                right: -8px;
        }

        .amount-items-em {
                color: #fff;
                font-size: 10px;
                font-weight: 400;
                display: block;
                transform: translate(-1px);
        }

        &--icon {
            svg {
                width: 27px;
                height: 25px;
            }
        }
    }
}