.j-header__menu {
    display: flex;
    height: 38px;
    align-items: center;
    background-color: $color-main;
    
    transition: all 300ms ease;
    height: auto;
    min-height: 101vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: -100vw;
    align-items: flex-start;
    padding-top: 75px;
    z-index: 99;

    .j-header__menu-close {
        display: block;
        width: 30px;
        height: 3px;
        margin: 0 auto;
        transform: rotate(-50deg);
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 30px;

        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 3px;
            margin: 0 auto;
            transform: rotate(-80deg);
            background-color: #fff;
            border-radius: 10px;
        }
            
    }

    &.is--active {
        left: 0;
    }

    .j-menu-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;    

        li {
            width: 100%;
            padding: 10px 0 10px 10px;
            border-top: 1px solid #fff;

            &:first-child {
                border-top: 0;
            }
        }
        
        a {
            display: block;
            color: #ffffff;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}