.j-pre-header {
    background-image: url('/arquivos/bg-paws.jpg');
    background-size: cover;

    &__items {
        display: flex;
        align-items: center;
        height: 59px;
        justify-content: center;

    }

    &__left {
        img {
            display: block;
        }
        margin-right: 30px;

    }

    &__middle {
        

        &.is--mobile {
           
                display: block;
        }
        .j-pre-title {
            color: $color-red;
            font-family: $font-main;
            font-size: 17px;
            font-weight: 900;
            text-transform: uppercase;

                font-size: 12px;
                width: 169px;
                text-align: center;
                line-height: 14px;
                margin-bottom: 2px;
        }        
    }
    .j-pre-list {
        display: flex;
        margin-top: 5px;
        

        li {
            margin: 0 5px;
            position: relative;

                text-align: right;
                margin: 0;
                &:before {
                    content: '';
                    width: 2px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    left: -5px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $color-blue;
                }
    
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
        }

        a {
            display: block;
            color: $color-blue;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;

            &:after {
                content: '';
                display: block;
                width: 0%;
                height: 1px;
                background: $color-blue; 
                position: absolute;
                transition: all 225ms ease;
                bottom: 0;
                left: 0;
            }

           

                &:hover {
                    &:after{
                        width: 100%;
                    }
                }
        }
    }

    &__right {
        margin-left: 40px;
        margin-right: 50px;

           

        &.is--mobile {
                display: block;
        }
    }
    .j-pre-btn {
        display: flex;
        color: $color-red;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        align-items: center;
        height: 25px;
        border: 1px solid $color-blue;
        background: #fff;
        width: 175px;
        transition: all 225ms ease;
        justify-content: center;
        font-weight: 900;
        
            width: 90px;
            height: 14px;
            font-size: 7px;
            margin-left: auto;
            margin-right: auto;
        
    }
}