<header>
    <div class="j-main-header">
        <div class="container">
            <div class="j-main-header__items">
                <div class="j-main-header__left">
                    <div class="j-hamburguer">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="j-store__logo">
                        <a href="/">
                            <img src="/arquivos/logo-store.png" alt="Sexy" title="Sexy" />
                        </a>
                    </div>
                    <div class="j-minicart">
                        <span class='j-minicart--icon js--open-minicart'>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart" class="svg-inline--fa fa-shopping-cart fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#FFFFFF" d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path></svg>
                            <vtex.cmc:AmountItemsInCart />
                        </span>

                        <p class='j-minicart__title'>Carrinho</p>

                        <div class="j-minicart__content">
                            <p class='j-minicart__content--title'>Carrinho</p>

                            <span class="j-minicart-close js--close-minicart">X</span>
                            <div class="j-minicart__content-js">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="j-main-header__middle">
                    <vtex.cmc:fullTextSearchBox/>
                </div>
            </div>
        </div>
    </div>
    <div class="j-header__menu">
        <span class="j-header__menu-close js--close-menu"></span>
        <div class="container">
            <nav>
                <ul class="j-menu-list">
                    <li>
                        <a href="/sutias" class="j-header__menu--item-link">Sutiâs</a>
                    </li>
                    <li>
                        <a href="/calcinhas" class="j-header__menu--item-link">Calcinhas</a>
                    </li>
                    <li>
                        <a href="/body" class="j-header__menu--item-link">Body</a>
                    </li>
                    <li>
                        <a href="/moda-praia" class="j-header__menu--item-link">Moda Praia</a>
                    </li>
                    <li>
                        <a href="/fitness" class="j-header__menu--item-link">Fitness</a>
                    </li>
                    <li>
                        <a href="/closet" class="j-header__menu--item-link">Closet</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>