<footer>
    <div class="container">
        <div class="j-footer__top">
            <div class="j-footer__top-left">
                <div class="j-footer__departament-links">
                    <h3>Departamentos</h3>
                    <vtex.cmc:departmentLinks/>
                </div>
            </div>

            <div class="j-footer__top-middle">
                <div class="j-box--list">
                    <h4>
                        Intitucional
                    </h4>

                    <ul>
                        <li>
                            <a href="/institucional/sobre-nos">Sobre Nós</a>
                        </li>
                        <li>
                            <a href="/institucional/trocas-e-devolucoes">Trocas e Devoluções</a>
                        </li>
                        <li>
                            <a href="/institucional/politica-de-privacidade">Política de Privacidade</a>
                        </li>
                        <li>
                            <a href="/institucional/termos-de-uso">Termos de Uso</a>
                        </li>
                    </ul>
                </div>

                <div class="j-box--list">
                    <h4>
                        Atendimento
                    </h4>

                    <ul>
                        <li>
                            <a href="/account">Account</a>
                        </li>
                        <li>
                            <a href="/account/orders">Meus Pedidos</a>
                        </li>
                        <li>
                            <p>11 2222-2222</p>
                        </li>
                        <li>
                            <a href="mailto:emailsac@atendimento.com.br">emailsac@atendimento.com.br</a>
                        </li>
                        <li>
                            <p>SEGUNDA A SEXTA DAS 8:00 ÀS 18:00</p>
                            <p>SÁBADO DAS 8:00 ÀS 13:00</p>
                            <p>EXCETO FERIADOS</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="j-footer__middle">
            <div class="j-footer__links">

            </div>
        </div>
        
        <div class="j-footer__bottom">
            <div class="j-footer__newsletter">
                <vtex.cmc:newslettergeral />
            </div>

            <div class="j-footer__copyright">
                <p>COPYRIGHT© 2019 – TATIX COMÉRCIO E PARTICIPAÇÕES LTDA | CNPJ: 19.112.842/0001-63 | IE:  298.221.581.114</p>
                <p>R. JOSÉ SEMIÃO RODRIGUES AGOSTINHO, 1370 - ÁGUA ESPRAIADA, EMBU DAS ARTES - SP</p>
            </div>
        </div>
    </div>
</footer>