.j-footer__bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .j-left {
        display: flex;
        align-items: center;
        margin-right: 45px;


        p {
            color: #606060;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 5px;

        }
    }

    .j-payments {
        p {
            color: #969696;
            font-size: 11px;
            font-weight: 700;
            margin-bottom: 10px;
            
        }

        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 2.5px;
            }
        }
    }
}