.j-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
        color: #969696;
        font-size: 11px;
        font-weight: 400;
        line-height: 16.27px;
        margin-top: 20px;

    }
    .j-created {
        margin-top: 45px;
        

        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 20px;
            }
        }
    }
}