footer {
    padding: 20px 0;
    color: #FFF;
    background-color: #000;
    margin-top: 30px;
    
    .j-footer {
        &__middle {
            .j-footer {
                &__border {
                    &-box {
                        ul {
                            li {
                                text-align: center;
                                margin: 5px 0 7px;
                            }
                        }
                    }
                }
            }
        }
        &__copyright {
            font-size: 12px;
            text-align: center;
            p {
                margin: 5px 10px;
            }
        }
    }

}