.j-footer {
    &__top {
        &-middle {
            .j-box--list {
                margin: 30px 0;
                transition: all .5s ease;
                
                h4 {
                    margin: 5px 0 13px;
                    display: block;
                    position: relative;
                    
                    &::after {
                        content: "\f054";
                        color: #FFF;
                        font-size: 12px;
                        font-family: FontAwesome;
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        margin-top: -6px;
                        transition: all .5s ease;
                    }
                }
                
                a {
                    color: #fff;
                }

                ul {
                    transition: all .5s ease;
                    display: none;
            
                    p {
                        display: block;
                        margin: 5px 0 7px;
                    }
                }
            
                &.is--active {
                    h4 {
                        &::after {
                            content: "\f077";
                        }
                    }
            
                    ul {
                        display: block;
                    }
                }
            }            
        }
    }
    
    &__departament-links {
        h3 {
            position: relative;
                    
            &::after {
                content: "\f054";
                color: #FFF;
                font-size: 12px;
                font-family: FontAwesome;
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -6px;
                transition: all .5s ease;
            }
        }

        > ul {
            transition: all .5s ease;
            display: none;
    
            a {                
                color: #fff;
                display: block;
                margin: 5px 0 7px;
            }
        }

        &.is--active {
            h3 {
                &::after {
                    content: "\f077";
                }
            }
    
            ul {
                display: block;
            }
        }
    }
}