footer {
  .j-newsletter {
    .j-left {
      flex: unset;
      width: 70%;
      margin-right: 0;

        h4 {
            color: #fff;
            font-size: 12px;
        }
    }
    .j-right {
      flex: unset;
      width: 30%;
    }
  
    form {
        input {
            background-color: transparent;
            border-bottom: 1px solid #ececec;
            color: #fff;

            &::placeholder {
              color: #fff;
            }
        }
  
        button {
            background-color: #fff;
            color: #000;
  
            &:hover {
                background-color: #fff;
            }
        }
    }
  
    .j-newsletter__success {
        p {
            color: #fff;
        }
    }
  }
}