footer {
    padding: 20px 0;
    background-color: #000;
    color: #FFF;

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .j-footer {
            &__sitemap {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                text-transform: uppercase;
                color: $color-white;
                font-size: 13px;
                
                h3 {
                    font-size: 16px;
                    margin-bottom: 13px;
                }
                
                a {
                    font-size: 13px;
                    color: $color-white;
                }
            }

            &__payments {
                .j-social__links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        a {
                            svg {
                                filter: invert(100%);
                                height: 35px;
                            }
                        }
                    }
                }
            }
            
            &__profile-links {
                p {
                    font-size: 13px;
                    line-height: 20px;

                    a {
                        font-size: 13px;
                    }
                }
                ul+p {
                    margin: 20px 0;
                    font-size: 13px;
                }
            }
            
            &__departament-links,
            &__institutional-links,
            &__profile-links,
            &__payments {
                width: 25%;
            }

            &__newsletter {
                width: 50%;

                .j-newsletter {
                    margin: 60px 0 32px;

                    .j-left h4 {
                        color: $color-white;
                    }
                    form {
                        input {
                            color: $color-white;
                            background: transparent;
                            border-color: $color-white;
                            text-transform: uppercase;
                        }

                        button {
                            background: $color-white;
                            color: #000;
                            
                            &:hover {
                                color: $color-white;
                                background: $color-red;
                            }
                        }
                    }
                }
            }

            &__copyright {
                display: flex;
                flex-direction: row;

                &--text {
                    width: 72%;
                    margin-right: 3%;
                    border-right: 1px solid #FFF;

                    p {
                        font-size: 13px;
                    }
                }
            }

            &__created {
                ul {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: flex-end;

                    li {
                        margin: 0 10px;
                        
                        img {
                            max-width: 83px;
                        }
                    }
                }
            }
        }


    }
}