.j-wrapper-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    &__item {
        width: 16.5%;
        margin-bottom: 50px;

        h4 {
            color: #a2a2a2;
            font-size: 11px;
            font-weight: bold;
            margin-bottom: 10px;

        }

        ul {
            list-style: initial;
            list-style: disc;
            margin-left: 15px;

            li {
                a {
                    display: block;
                    font-size: 11px;
                    color: #969696;
                    font-weight: 400;
                }
            }
        }
    }
}

footer {
    .j-social__list {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        
        li {
            margin: 0 10px;
            img {
                width: 21px;
            }
        }
    }
}
