$font-main: 'Arial', sans-serif;
$color-main: #484848;
$color-black: #000;
$color-blue: #083675;
$color-red: #a41638;
$color-white: #FFF;
$color-darkgray: #565656;
$color-lightgray : #fcfcfc;
$color-green : #99FF99;