#set($productId = $product.Id)
#set($productTitle = $product.HtmlEscapedName)
#set($productLink = $product.Uri)
#set($productListPrice = $product.ListPrice)
#set($productBestPrice = $product.BestPrice)
#set($productInstallmentValue = $product.InstallmentValue)

<article class="j-shelf__item has--carousel js--shelf-item" data-product-id="$productId">
  <div class="j-shelf__item-img">
    <a class="j-shelf__item-img__img" title="$productTitle" href="$productLink">$product.GetImageTag(300,300)</a>
  </div>
  <div class="j-shelf__item-content">
    <h2 class="j-shelf__item-name" title="$productTitle">
      <a href="$productLink">
        $productTitle
      </a>
    </h2>

    #if ($product.IsInStock) #if ($product.HasBestPrice)
    <p class="j-shelf__item-old-price"><span>De </span>$product.ListPrice</p>
    #end

    <p class="j-shelf__item-new-price">$product.BestPrice</p>
    <em class="j-shelf__item-installments">
      #if ($product.NumbersOfInstallment > 1) ou
      ${product.NumbersOfInstallment}x de
      <span class="j-shelf__item-installment-val">$product.InstallmentValue</span>
      #end
    </em> #else
    <p class="j-shelf__item-outStcok-text">Produto Esgotado</p>
    #end
  </div>
</article>